
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Academify</h2>
                <p class="lead">A melhor maneira de controlar os dados dos estudantes de sua instituição.</p>
                <p class="mb-0">Maior controle sobre as informações de cada aluno, permitindo que todo o gerenciamento de inclusão, edição e exclusão seja realizado em uma unica plataforma .</p>
            </div>
        </div>
    </div>
</section>